doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css')
  body
    div(class='bg-gray-100 p-4')
      h1(class='text-2xl font-bold text-gray-800') Hello, #{recipientName}!
      p(class='text-gray-600') We are a fast-evolving development team.      
      p(class='text-gray-600') Your ticket number is #{ticketId}. will answer soon from the supprt team!
      p(class='text-gray-600') Thank you once again for using our platform.
      p(class='text-gray-600') Best regards,
      p(class='text-gray-600') UncappedTheory Support Team
`